body{
margin:0px;
padding:0px;
overflow-x:hidden;
background:url(money3.jpg);
background-size:100%;
}
.where{
position:relative;
top:60px;
left:500px;

}

.main_button{
width:100%;
height:50px;
background:green;
border:none;
border-radius:20px;
color:white;
font-weight:700;
font-size:15px;
}
.country{
display:block;
position:relative;
top:0px;
z-index:2;
width:100%;
height:40px;
text-align:center;
line-height:40px;
background:white;
border-radius:20px;
}
.country_box{
position:relative;
z-index:2;
background:white;
display:none;
width:100%;
border:1px solid black;
border-radius:20px;
}
.usd:hover{
background:skyblue;
cursor:pointer;
}
.krw:hover{
background:skyblue;
cursor:pointer;
}
.vnd:hover{
cursor:pointer;
background:skyblue;
}

.exchange{
width:100%;
height:55px;
}
.exchange:hover .country_box{
display:block;
}

.side{
width:350px;
height:180px;
border:2px solid gray;
border-radius:20px;
padding:20px 20px;
background:lightgray;
}

.dollar{
position:relative;
z-index:1;
top:0px;
}
input{
width:85%;
height:40px;
border-radius:20px;
padding:0px 20px;
margin:20px 0px;
border:2px solid black;
}

h1{
width:300px;
text-align:center;
}



.unit{
padding:10px;
font-size:20px;
font-weight:700;
}

#from_input{
}